.container {
  background: linear-gradient(176deg, #98bcff, #ffe0e4, #98bcff,  #ffe0e4, #98bcff,  #ffe0e4, #98bcff);
  height: 80px;
}

.mat-toolbar-row {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px 3px 20px 3px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.btn .hiddenText {
  margin: 0;
  font-size: 12px;
  color: #666;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.btn:hover .hiddenText {
  opacity: 1;
}

.inputContainer {
  display: flex;
  align-items: flex-end;
}

.newsletterMessage {
  display: flex;
  align-items: center;
  font-size: large;
}

.custom-input-container {
  position: relative;
  width: 100%;
}

.custom-input {
  width: 100%;
  padding: 12px 12px 0 12px;
  margin: 20px 5px 5px 5px;
  font-size: 18px;
  font-family: cursive;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #f5e0e0;
  outline: none;
  box-sizing: border-box;
}

.custom-input:focus {
  background-color: white;
}

.custom-button:hover {
  background-color: #98bcff;
}

.footer-submit-button button {
  padding: 3px 8px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 2px 2px #6b9df9;
  background: #98bcff;
  color: black;
  margin: 6px 10px;
}

.footer-submit-button button:hover {
  box-shadow: 1px 1px 2px 2px #f5e0e0;
  background: #6b9df9;
}
