<div>
  <div class="container">
    <div fxLayout="row" class="imageAdvertising">
      <mat-card fxLayoutGap="10px">
        <img mat-card-image src="../../../assets/images/1.jpg" alt="IMG">
      </mat-card>

      <mat-card>
        <img mat-card-image src="../../../assets/images/2.jpg" alt="Img">
      </mat-card>

      <mat-card>
        <img mat-card-image src="../../../assets/images/3.jpg" alt="Img">
      </mat-card>
    </div>
  </div>

  <mat-toolbar class="aboveFooterContainer">
    <mat-toolbar-row>
      <div class="container" fxLayout="row">
        <div class="newsletterMessage">
          <mat-icon fontIcon="message" class="message-footer"></mat-icon>

          <div>
            <span>More offers via E-mail</span>
          </div>
        </div>
        <form [formGroup]="newsletter" class="email-form">
          <div class="form-field-container">
            <mat-form-field>
              <input type="email" matInput formControlName="newsletter" class="newsletterInput">
            </mat-form-field>

            <div class="footer-submit-button">
              <button mat-raised-button type="submit" color="primary">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
