

  <mat-toolbar class="aboveFooterContainer">
    <mat-toolbar-row class="footerContainer" >
      <div fxLayout="row">
        <div class="newsletterMessage">
          <mat-icon fontIcon="message" class="message-footer"></mat-icon>
          <div>
            <span>More offers via E-mail</span>
          </div>
        </div>
        <form [formGroup]="newsletter" class="email-form">
          <div class="form-field-container">
            <mat-form-field>
              <input type="email" matInput formControlName="newsletter" class="newsletterInput">
            </mat-form-field>
            <div class="footer-submit-button">
              <button mat-raised-button type="submit" color="primary">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
