body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.animated-shop {
  display: inline-block;
  position: relative;
  font-size: 2.5rem; /* Größe für große Bildschirme */
  font-weight: bold;
  color: #333333;
  background-clip: text;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.animated-shop:hover {
  transform: scale(1.05);
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(135deg, #ffe0e4, #b6d0fd);
  }
  50% {
    background: linear-gradient(135deg, #b6d0fd, #ffe0e4);
  }
  100% {
    background: linear-gradient(135deg, #ffe0e4, #b6d0fd);
  }
}

.animated-shop {
  animation: gradientAnimation 6s ease infinite;
  background-size: 200% 200%;
}

.headerAuth {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.toolbarWrite {
  background: linear-gradient(135deg, #ffe0e4, #b6d0fd);
  padding: 10px 0;
}

.headerBlock {
  display: flex;
  justify-content: space-around;
}

.headerBlock > div {
  flex: 1 1 calc(50% - 20px); /* Zwei Spalten-Layout mit Abstand */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.headerBlock h3, .headerBlock p {
  margin: 0;
  line-height: 1.5;
}

span, mat-icon {
  cursor: pointer;
  width: auto;
  height: auto;
}

/*
@media (max-width: 1024px) {
  .animated-shop {
    font-size: 2rem;
  }

  .headerBlock > div {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
    justify-content: center;
  }

  .animated-shop {
    font-size: 1.75rem;
  }

  .headerBlock {
    gap: 10px;
  }

  .headerBlock > div {
    flex: 1 1 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .animated-shop {
    font-size: 1.5rem;
  }

  span, mat-icon {
    font-size: 1rem;

  .headerAuth {
    justify-content: center;
  }

  .headerBlock h3 {
    font-size: 1rem;
  }

  .headerBlock p {
    font-size: 0.875rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 40px;
  }

  .animated-shop {
    font-size: 2.5rem;
  }

  span, mat-icon {
    font-size: 2rem;
  }
}

*/
