.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

}

.container {
  width: 100%;
  margin-left: 30px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

span, mat-icon {
  margin-top: 10px;
  font-size: x-large;
  cursor: pointer;
}

.homeIcon {
  cursor: pointer;
}

.headerAuth {
  display: flex;
  flex-direction: row-reverse;
}

.toolbarWrite {
  background: rgba(203, 192, 237, 0.4);
}

.headerBlock {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.blockHalf {
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
}

.blockHalf h3, .blockHalf p {
  font-size: small;
  margin: 0;
}

