<div class="header-container">
  <mat-toolbar>
    <mat-toolbar-row class="toolbarWrite">
      <div class="container">
        <div class="animated-shop">
          <span>OnlineShop</span>
        </div>
        <div class="flexExpand"></div>
        <div class="headerAuth">
          <button [matMenuTriggerFor]="menuAuth" mat-button>
            My Account
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menuAuth="matMenu">
            <button mat-menu-item>Login</button>
            <button mat-menu-item>Register</button>
            <mat-divider></mat-divider> <!-- Optional divider -->
            <button [matMenuTriggerFor]="currencyMenu" mat-menu-item>
              Currency
            </button>
            <mat-menu #currencyMenu="matMenu">
              <button mat-menu-item>EUR</button>
              <button mat-menu-item>USD</button>
            </mat-menu>
            <button [matMenuTriggerFor]="languageMenu" mat-menu-item>
              Language
            </button>
            <mat-menu #languageMenu="matMenu">
              <button mat-menu-item>Deutsch</button>
              <button mat-menu-item>English</button>
            </mat-menu>
          </mat-menu>
          <button mat-button>My Wishlist</button>
          <a mat-button>0,00$ (0 Item)</a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
