mat-tab-group {
  width: 70%;
  margin: auto;
}

img {
  width: 300px;
 }


mat-card {
  cursor: pointer;
}


mat-card-header img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

mat-card-container {
  margin: 10px!important;
}

mat-card-title {
  font-size: x-large;
  margin: 10px;
}

mat-card-title a{
  text-decoration: none;
  color: black;
}

mat-card-title a:hover {
  color: grey;
}

mat-card-subtitle {
  color: #a9062c;
  font-weight: bold;
  margin-left: 10px;
  font-size: medium;
}



.show-all {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  display: flex;
}

.show-all button {
  margin: auto;
  padding: 25px;
}


.container {
  width: 900px;
  margin: auto;
}

.container mat-card {
  margin: 10px;
}

.aboveFooterContainer {
  height: 80px;
}


.newsletterMessage {
  margin-top: 20px;
  margin-right: 50px;
}

.fontIcon{
  margin-top: 30px;
}

mat-form-field {
  width: 300px;
  color: #000;
}

mat-form-field imput {
  background-color: white;
  height: 30px;
}

mat-form-field button {
  height: 30px;
}

.form-field-container {
  display: flex;
  height: 50px;
  margin-right: 20px;
}
.email-form {
}
