mat-tab-group {
  width: 70%;
  margin: auto;
}

img {
  width: 300px;
}


mat-card {
  cursor: pointer;
}


mat-card-header img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

mat-card-container {
  margin: 10px !important;
}

mat-card-title {
  font-size: x-large;
  margin: 10px;
}

mat-card-title a {
  text-decoration: none;
  color: black;
}

mat-card-title a:hover {
  color: grey;
}

mat-card-subtitle {
  color: rgba(101, 86, 145, 0.9);
  font-weight: bold;
  margin-left: 10px;
  font-size: medium;
}


.show-all {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  display: flex;
}

.show-all button {
  margin: auto;
  padding: 25px;
  background-color: rgba(139, 121, 193, 0.8);
}


