.contentSidenav {
  overflow: auto;
  top: 170px;
  position: relative;
}

mat-sidenav {
  width: 200px;
  height: 80%;
  background-color: #e8e8e8;
  color: black;
  padding: 14px;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  z-index: 2;
}
