
.contentSidenav {
  overflow: auto;
  top: 190px;
  position: absolute;
}

mat-sidenav {
  width: 200px;
  height: 80%;
  background-color: #e8e8e8;
  color: black;
  padding: 14px;
}

mat-sidenav a {
  color: #e8e8e8;
}

