
ul {
  list-style: none;
  margin: 0 0;
  display: flex;
  gap: 2rem;
}

ul li {
  display: flex;
  transition: .5s;
  padding: 20px 20px;
  text-align: center;

}

ul:hover li {
  filter: blur(5px);
}

ul li:hover {
  filter: blur(0px);
}


.containerNav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.menuButton {
  margin-top: 15px;
}

mat-toolbar {
  background: linear-gradient(135deg,  #b6d0fd, #ffe0e4);
}
mat-sidenav-container {
  height: 100vh;
}

